.ql-container {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.ql-editor a {
  color: #ffffff;
  font-weight: 500;
}

.ql-editor.ql-blank::before {
  color: white; /* or any light color for contrast against black */
}
